# // hardhat Private Key

# PRIVATE_KEY: 
#     메타마스크 실행 -> 새로 만든 계정 선택.
# 우측 상단 점 3개(...) 클릭 -> [계정 세부 정보 (Account details)].
# [개인키 내보내기 (Show private key)] 클릭.
# 비밀번호 입력 후 나오는 64자(또는 66자) 문자열 복사.
# .env 파일에 PRIVATE_KEY=복사한값 (앞에 0x가 있어도 되고 없어도 됩니다.)

# RPC_URL: https://dashboard.alchemy.com/apps/ 사이트에서 발급

PRIVATE_KEY = 
RPC_URL = 